<nav class="navigation-container">
  <i class="fa-solid fa-people-group fa-xl app-icon"></i>

  <div class="navigation-links-container">
    <% links.forEach(link => { %>
    <a href="<%= link.href %>" class="navigation-links"><%= link.text %></a>
    <% }) %>
  </div>
</nav>
