<div>
  <h1>Home Page</h1>
  <% if (locals.user) { %>
  <h1>WELCOME BACK <%= user.username %></h1>
  <a href="/logout">LOG OUT</a>
  <% if (user.admin) {%>
  <a href="admin">Go to Admin</a>
  <% } %> <% } else { %>
  <a href="/register">Register</a>
  <a href="/login">Log In</a>
  <% } %>
</div>
