<div class="form-container">
  <h1 class="form-header">Log In to existing account</h1>
  <form class="input-forms" method="POST" action="/login">
    <% authErrorMessages.forEach(msg => { %>
    <p class="auth-error-msg"><%= msg %></p>
    <% }) %>

    <div class="input-wrapper">
      <label for="username">Username </label>
      <input
        type="text"
        id="username"
        name="username"
        class="<%= authErrorMessages.length > 0 ? 'input-error' : '' %>"
        value="<%= usernameInput %>"
      />
    </div>

    <div class="input-wrapper">
      <label for="password">Password </label>
      <input
        type="password"
        id="password"
        name="password"
        class="<%= authErrorMessages.length > 0 ? 'input-error' : '' %>"
      />
    </div>

    <button class="submit-button" type="submit" value="Submit">Login</button>
  </form>
</div>
