<h1>Register Page</h1>
<form method="POST" action="/register">
  <!-- Enter Username:
  <br /><input type="text" name="username" /> <br />Enter Password: <br /><input
    type="password"
    name="password"
  />
  <br />
  <br />
  <input type="submit" value="Submit" /> -->
  <div class="input-wrapper">
    <% const usernameError = errors?.find(e => e.path === 'username'); %>
    <label for="username">Username: </label>
    <input type="text" id="username" name="username" />
  </div>
  <% if (usernameError) {%>
  <p><%= usernameError.msg %></p>
  <% } %>

  <div class="input-wrapper">
    <% const passwordError = errors?.find(e => e.path === 'password'); %>
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" />
  </div>
  <% if (passwordError) {%>
  <p><%= passwordError.msg %></p>
  <% } %>

  <div class="input-wrapper">
    <% const confirmPasswordError = errors?.find(e => e.path ===
    'confirm-password'); %>
    <label for="username">Username</label>
    <input type="password" id="confirm-password" name="confirm-password" />
  </div>
  <% if (confirmPasswordError) {%>
  <p><%= confirmPasswordError.msg %></p>
  <% } %>

  <button class="submit-button" type="submit" value="Submit">Register</button>
</form>
